body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#particles-js {
    width: 100%;
    height: 100vh;
    background: whitesmoke;
    display: flex;
    align-content: center;
    justify-content: center;
}
.particles-js-canvas-el {
    position: absolute;
}
#infoContainer {
    position: absolute;
    z-index: 0;
    margin: 0;
    padding: 0;
    top: 25%;
    left: 25%;
    width: 25%;
    height: 25%;
}
#icons {
    margin-top: 5%;
    margin-left: 0px;
}
ul > li {
    list-style: none;
    /*display: inline;
    padding: 0px 15px;*/
    padding: 10px;
    position: relative;
    
}
#icons > li > a > img {
    width: 30%;
}
ul > li > a > img:hover {
    transform: scale(1.1);
  }